* {
	font-family: "Roboto", sans-serif;
}

header {
	background-color: #eebb44;
	padding-top: 15px; padding-bottom: 15px;
	margin-bottom: 45px;
}

.title {
	margin: 0;
}

.title2{
	margin: 0;
}

.card, .card-flex {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

img {
	width: 100%;
}

.card-detail {
	padding: 20px;
}

.name, .description {
	margin: 0;
	padding-bottom: 10px;
}